<button onclick="helloGreet()">Diga Olá</button>
<div id="hello-wasm"></div>

<script type="module">
    import wasmInit, * as hello from "./hello_wasm.js"
    async function pageInit() {
        console.log('>> Loading hello wasm...')
        window.helloGreet = ()=> alert('O wasm ainda não foi carregado.')
        await wasmInit()
        window.helloGreet = ()=> hello.greet()
        console.log('>> Hello wasm Loaded!')
    }
    pageInit()
</script>
