body {
  margin: 0;
  padding: 1em 10%;
  font-size: 14px;
  font-family: sans-serif;
  background: #999;
}

body * {
  box-sizing: border-box;
}

.example-box {
  display: flex;
  align-items: stretch;
  margin: 2em 0;
  border: 1px solid #DDD;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: .2em  .2em .7em rgba(0,0,0,.8),
             -.1em -.1em .3em rgba(0,0,0,.3);
}

.example-box > * {
  width: 50%;
  max-height: 400px;
}

.example-result {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #FFF;
}
.example-result > h2 {
  margin: .5em 0 0 1em;
  color: #666;
}
.example-result > article {
  overflow: auto;
  padding: 1em 1.5em;
  flex-grow: 1;
}

.example-src {
  display: flex;
  flex-direction: column;
  background: #DDD;
}
.example-src p {
  margin: 0;
}
.example-src p button {
  margin: 0 0 0 .5em;
}
.example-src pre {
  padding: 1em 1.5em;
  overflow: auto;
  margin: 0;
}
