<canvas id="draw-example" style="
  border: 1px solid #DDD;
  background:
    linear-gradient(0deg, #000 49%, #FFF 50%),
    linear-gradient(90deg, #000 49%, #FFF 50%),
    #777;
  background-size: 32px 32px;
  background-blend-mode: difference;
"></canvas>

<script type="module">
    import wasmInit, { draw } from "./draw.js"

    const W = 600
    const H = 300
    const canvas = document.querySelector("#draw-example")
    canvas.width = W
    canvas.height = H
    const ctx = canvas.getContext("2d")

    ctx.fillStyle = '#FF0'
    ctx.fillRect(60, 30, 180, 90)
    ctx.fillStyle = 'red'
    ctx.fillRect(100, 50, 100, 50)

    ctx.fillStyle = 'green'
    ctx.fillRect(250, 100, 100, 100)

    ctx.fillStyle = '#000'
    ctx.fillRect(360, 180, 180, 90)
    ctx.fillStyle = '#08F'
    ctx.fillRect(400, 200, 100, 50)

    async function pageInit() {
        console.log('>> Loading draw wasm...')
        await wasmInit()
        console.log('>> Draw wasm Loaded!')
    }
    pageInit().then(()=> {
        const imgData = ctx.getImageData(0, 0, W, H)
        console.log('>> Sending', imgData)
        const start = Date.now()
        const newImgData = draw(imgData)
        const delay = Date.now() - start
        ctx.putImageData(newImgData, 0, 0)
        const div = document.createElement('div')
        div.innerText = `Executado em ${delay/1000} segundos.`
        canvas.after(div)
    })
</script>
